/* General Style Settings */

body {
    background-color: #fbfbf4;
    padding: 0;
    padding-top: 5%;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Neuton', serif;
    font-size: 3em;
    color: #21211f;
}

h2 {
    text-align: center;
    font-family: 'Neuton', serif;
    font-size: 2em;
    color: #21211f;
}

h3, h5 {
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
    padding-left: 0;
    font-size: 2.5em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1.4em;
}

h4, p, li, a {
    font-family: 'Adamina', serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    margin: 30px 20px;
}

.dark-background {
    background-color: #343434;
    color: white;
}

.subtitle-large {
    text-align: center;
    font-size: 1.6em;
}

.subtitle-small {
    text-align: center;
    font-size: 1.3em;
}

.subtitle-image {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Individual elements */

#main-icon {
    display: block;
    text-align: center;
    margin: 0 auto;
}


#main-screenshot {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#features {
    color: #ffffff;
    background-color: #343434;
    padding: 0;
    margin: 0 auto;
}

/* The feature class applies to individual features */
.feature {
    width: 40%;
    margin: 0 auto;
}

#feature-float, #install-options, #get-involved {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

#screenshots {
    padding-bottom: 2%;
}
#screenshots, #screenshots img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#screenshots h3 {
    margin-bottom: 0;
}

#download {
    background-color: #85003f;
    color: #FFF;
    padding-bottom: 2%;
}

#download p {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0%;
}

#download h4 {
    color: #000;
}

.download-option{
    display: block;
    margin: 0 auto;
    background-color: white;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    border: 1px dashed #343434;
}

.download-option img {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.download-option:hover, .social-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);   
}

#get-involved {
    background-color: #343434;
    color: #ffffff;
}

#get-involved #github {
    text-align: left;
}

#get-involved h3 {
    padding-top: 5%;
}


#get-involved div {
    width: 30%;
    margin: auto auto;
}

#get-involved-links {
    text-align: left;
}

#github a img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

#get-involved-links a, #get-involved-links a:link, #get-involved-links a:visited, #get-involved-links a:active {
    color: white;
    text-decoration: none;
}

#get-involved {
    padding-bottom: 2%;
}

#contact-us p {
    font-size: 0.7em;
    text-align: center;
}
