$bp1: 480px;
$bp2: 720px;
$bp3: 1100px;
$bp4: 1600px;

@mixin bp($dim) {
  @if $dim == "xs" { @media screen and                           (max-width: $bp1) { @content; } }
  @if $dim == "s"  { @media screen and (min-width: $bp1+1px) and (max-width: $bp2) { @content; } }
  @if $dim == "m"  { @media screen and (min-width: $bp2+1px) and (max-width: $bp3) { @content; } }
  @if $dim == "l"  { @media screen and (min-width: $bp3+1px) and (max-width: $bp4) { @content; } }
  @if $dim == "xl" { @media screen and (min-width: $bp4+1px)                       { @content; } }

  @if $dim == "s+" { @media screen and (min-width: $bp1+1px) { @content; } }
  @if $dim == "m+" { @media screen and (min-width: $bp2+1px) { @content; } }
  @if $dim == "l+" { @media screen and (min-width: $bp3+1px) { @content; } }

  @if $dim == "s-" { @media screen and (max-width: $bp2) { @content; } }
  @if $dim == "m-" { @media screen and (max-width: $bp3) { @content; } }
  @if $dim == "l-" { @media screen and (max-width: $bp4) { @content; } }

  @if $dim == "s-m"{ @media screen and (min-width: $bp1+1px) and (max-width: $bp3) { @content; } }
  @if $dim == "s-l"{ @media screen and (min-width: $bp1+1px) and (max-width: $bp4) { @content; } }
  @if $dim == "m-l"{ @media screen and (min-width: $bp2+1px) and (max-width: $bp4) { @content; } }
}