// Solarize colors
// http://ethanschoonover.com/solarized
$base03:    #002b36;
$base02:    #073642; $base02x: #30525c;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5; $base2x: #c1c5bb;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Theme colors
$color_header: rgba(255, 255, 255, .9);
$background_header: #603461;

$color_heading: rgba(26, 26, 26, .9);

$color_body: rgba(26, 26, 26, .7);
$background_body: #fff;

$color_link: #622828;

$color_subtle: rgba(26, 26, 26, .4);

$color_borders: rgba(26, 26, 26, 0.2);

// Fonts
// needs webfonts
$font_header: "Open Sans", sans-serif;
$font_heading: "Open Sans", sans-serif;
$font_body: "Droid Serif", serif;
$font_code: "Source Code Pro", monospace;