---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
</head>
<body id="menu">

  <header id="header">
    <h1><a href="{{ site.baseurl }}/" title="{{ site.description | strip_html }}">{{ site.name }}</a></h1>
    <nav>
      <a class="home" href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/starter-pack/">Starter Pack</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
      <a href="{{ site.baseurl }}/get-involved/">Get Involved</a>
      <a href="{{ site.baseurl }}/documentation/">Documentation</a>
      <a href="{{ site.baseurl }}/donate/">Donate</a>
      <a class="action" href="{{ site.baseurl }}/download/"><span>Download</span></a>
    </nav>
    <a class="show" href="#menu" title="Show navigation"><i class="fa fa-bars fa-2x"></i></a>
    <a class="hide area" href="#"></a>
    <a class="hide" href="#" title="Hide navigation"><i class="fa fa-times fa-2x"></i></a>
  </header>

  <main id="main">
    {{ content }}
  </main>

  <footer id="footer">
    {% include icons-fontawesome.html %}
  </footer>

  {% include analytics-google.html %}
  {% include analytics-piwik.html %}
</body>
</html>